extends layout

block content
  h1= title
  - var image_names = ["D2", "D3", "D4", "D5", "Pom1"]
  - for(let i = 0; i < 3; i++) {
    - let number = Math.floor(Math.random() * 5)
        img(src=`/images/${image_names[number]}.jpg`, alt="To get new picture every time", height="300px", width="300px")
  - } 